<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GrizCrimeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C71E00951D04CB31007D6D99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71E00A91D04CB32007D6D99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C71E00B41D04CB32007D6D99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
